<app-box>
  <h2 class="heading mb-2">Customize your links</h2>
  <p class="mb-10">
    Add/edit/remove links below and then share all your profiles with the world!
  </p>
  <button class="button-secondary w-full mb-6">+ Add new link</button>

  <app-box className="bg-secondary-98 px-5 py-11">
    <div class="text-center">
      <img
        ngSrc="../../../../../assets/images/illustration-empty.svg"
        class="w-[125px] h-[80px] inline-block"
        alt="Illustration empty phone"
        priority
        width="250"
        height="161"
      />
      <h3 class="heading my-6">Let’s get you started</h3>
      <p>
        Use the “Add new link” button to get started. Once you have more than
        one link, you can reorder and edit them. We’re here to help you share
        your profiles with everyone!
      </p>
    </div>
  </app-box>

  <div class="h-[1px] bg-secondary-85 -mx-6 mt-6 mb-4">&nbsp;</div>

  <div class="text-right">
    <button class="button-primary w-full sm:w-auto sm:px-7">Save</button>
  </div>
</app-box>
